<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Для Работодателей</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div style="text-align:center; padding: 30px 0 10px 0;">
            <h1>Обращение для работодателей</h1>
        </div>
    </header>
    <main style="max-width:700px; margin:40px auto; background:#fff; border-radius:8px; box-shadow:0 2px 8px rgba(0,0,0,0.08); padding:32px;">
        <h2 style="color:#e67e22;">Здравствуйте!</h2>
        <p style="font-size:1.1em; color:#444; line-height:1.6;">
            Меня зовут <b>Балуков Кирилл Сергеевич</b>. Я начинающий Python-разработчик, готов  с энтузиазмом и ответственностью подойти к новым задачам. <br>
            Я открыт для предложений по стажировке, работе или совместным проектам. Быстро обучаюсь, умею работать в команде, не боюсь сложных задач и всегда стремлюсь к профессиональному росту.<br><br>
            <b>Почему стоит выбрать меня?</b>
            <ul style="margin-top:10px; color:#444;">
                <li style="font-size:1.1em;">Постоянно учусь и совершенствуюсь</li>
                <li style="font-size:1.2em;">Победитель и призёр соревнований по программированию <br>
                    <span style="color:#666; font-size:1em;">(Знаком с дедлайнами, ограничениями и трудовой этикой)</span>
                </li>
                <li style="font-size:1.1em;">Имею <strong>значительный опыт</strong> в программировании, самостоятельно решаю задачи</li>
                <li style="font-size:1.1em;">Многосторонний разработчик: практиковал разные направления — <strong>от Data Science до создания Telegram-ботов</strong></li>
                <li style="font-size:1.1em;"><strong>Ответственный, пунктуальный, коммуникабельный</strong></li>
            </ul>
            <br>
            <b>Связаться со мной:</b><br>
            Email: <a href="mailto:kirillka229top@gmail.com">kirillka229top@gmail.com</a><br>
            Telegram: <a href="https://t.me/f1sherFM" target="_blank">@f1sherFM</a><br>
            Discord: <span style="color:#5865F2; font-weight:bold;">darklxrrd</span><br>
            <span style="color:#666; font-size:1em;">Прошу вас связаться со мной на уровне дискорда/почты (для меня они в приоритете), на телефон звоните при сильной надобности.</span><br>
        </p>
        <a href="/" class="btn" style="margin-top:30px; display:inline-block;">На главную</a>
    </main>
</body>
</html>
